/* 
=======================================
index.html
======================================= 
*/


.navbar-brand span {
	color: #fff;
}

.brand {
	text-align: center;
	width: 263px;
	height: 50px;
	/* margin: 23px 0; */
	padding: 0px !important;
}

.navclass {
	background: url(../img/banner.jpg);
	height: 79px;
	/* background-image: ../url(../img/banner.jpg); */
}

.arrowButton {
	margin: 29px 0 20px -6px;
}

.sidebarclass {
	background: url(../img/banner.jpg);
}

.btnclass {
	width: 35px;
	margin: 0 2px;
	padding: 6px 0px;

}

.tableclass {
	text-align: center;

}

.tabletheadclass th {
	text-align: center;
}

#tdid>tr>td {
	line-height: 34px !important;
}

.tbicon {
	color: black;
	font-size: 15px;
	width: 35px;
}

.tbiconTrash {
	color: white;
	font-size: 15px;
	width: 35px;
}

.tablediv .pagination-container {
	text-align: center;
}

.spanclass {
	color: white;
}

.dropdown .open>.dropdown-toggle {
	color: #000000;
}

.articledelbtn {
	color: black;
	height: 24px;
	width: 40px;
}

.articleedbtn {
	height: 24px;
	width: 40px;
}


/* 
=======================================
profile.html
======================================= 
*/

.profilediv .profile-stat .stat-item .userage {
	display: inline-block;
	margin-right: 20px;
}

.profileleft {
	width: 300px;
	height: auto;
	float: left;
	margin-left: 50px;
}

.profileright {
	width: 550px;
	margin: auto;
	float: right;
	border: 1px solid #c4c4c8;
	padding: 0;
	background-color: ghostwhite;
}

.profilediv {
	width: 1000px;
	height: 500px;

}

.profileForm {
	padding: 20px 0;
	width: 400px;
	margin: auto;
}

.profilesubmit {
	margin-top: 10px;
	margin-left: 60px;
	margin-bottom: 10px;
	float: left;
	padding: 0;
}


.profileimgdiv {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	margin: auto;
	overflow: hidden;
}

.profileimg {
	width: 90px;
	height: 90px;
}

#wrapper .main {
	/* background: url(../img/banner.jpg); */
}

.fileinput {
	width: 102px;
	height: 34px;
	opacity: 0;
	padding: 0;
	margin: 0;
}

.filefont {
	margin-top: -36px;
	display: block;
	line-height: 34px;
}

/* 
=======================================
modifypassword.html
======================================= 
*/


.modfiypswleft {
	margin-top: 30px;
	margin-left: 60px;
}

.note {
	float: left;
	padding: 120px;
}


/* 
=======================================
modifypassword.html
======================================= 
*/

.tdiv {
	border: 1px solid white;
	padding: 10px;
	background-color: white;
}

.titlediv {
	width: 800px;
	margin: auto;
	margin-top: 20px;
}

.commentdiv {
	padding: 40px;
	font-size: 18px;
	font-weight: 300;
}

.modifypasswordform {
	margin-top: 100px;
	margin-left: 200px;
	width: 600px;
}

.modifypasswordform .layui-form-item {
	margin: auto;
	margin-top: 20px;
	/* padding: 0 85px; */
}

.modifypasswordform input {
	border: none;
	width: 430px;
	height: 34px;
	padding: 6px 12px;
	box-shadow: 0px 1px 6px 3px rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	border-color: #eaeaea;
	background-color: #fcfcfc;
}

.modifypasswordform .emailinputdiv {
	width: 430px;
}

.modifypasswordbtn {
	width: 120px;
	margin: auto;
	margin-top: 20px;

}


/* 
=======================================
mycomment.html
======================================= 
*/
.comment {
	border: none;
}

.comment .firstcommentdiv {
	border: none;
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.14);
	background: none;
	/* height: 120px; */
}

.secondcommentdiv .secondfirstcommentdiv {
	background: none;
	box-shadow: none;
	border: none;
}

.secondcommentdiv .secondcommentfirstdiv {
	box-shadow: none;
}

.comment .firstcommentdiv .commentdelbtn {
	background-color: #C9302C;
	padding: 6px 12px;
	float: right;
	display: block;
	margin-bottom: 5px;

}

.secondcommentdiv .secondcommentfirstdiv .commentdelbtn {
	background-color: #C9302C;
	padding: 6px 12px;
	float: right;
	margin-bottom: 5px;
}

.comment .firstcommentdiv .commentreadbtn {
	background-color: #41B314;
	padding: 6px 12px;
	float: right;
	display: inline-block;
	margin-bottom: 5px;
	height: 26px;
	width: 72px;
}

.secondcommentdiv .secondcommentfirstdiv .commentreadbtn {
	background-color: #41B314;
	padding: 6px 12px;
	float: right;
	height: 26px;
	width: 72px;
	display: inline-block;
}

.firstcommentdiv .touxiang {
	float: left;
	text-align: center;
	width: 56px;
}

.firstcommentdiv .touxiang img {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	margin-right: 10px;
}

.firstcommentdiv .touxiang span {
	margin-right: 20px;
	display: block;
}

.firstcommentdiv p {
	margin-left: 30px;
	width: 75%;
	display: inline-block;
	font-size: 15px;
}

.secondcommentdiv .touxiang {
	float: left;
	text-align: center;
	width: 56px;
}

.secondcommentdiv .touxiang img {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	margin-right: 10px;
}

.secondcommentdiv .touxiang span {
	margin-right: 20px;
	display: block;
}

.secondcommentdiv p {
	margin-left: 30px;
	width: 75%;
	display: inline-block;
	font-size: 15px;
}


/* 
=======================================
adminindex.html
======================================= 
*/

.lineheight {
	border: 1px dotted;
}

.adduser {
	padding: 0 124px;
}

.adduserbtn {
	width: 200px;
	margin: auto;
}

.confirmpassword {
	/* width: 86px; */
	padding-top: 9px;
	padding-left: 0;
}

.adduserform {
	font-size: 14px;
}


/* 
=======================================
classifyadmin.html
======================================= 
*/

.addclassify{
	font-size: 13px;
	float: right;
	height: 45px;
	margin-top: -4px;
	margin-right: -120px;
}

.addclassify label{
	float: left;
}

.addclassify input{
	float: left;
	width: 200px;
}

/* 
=======================================
tagadmin.html
======================================= 
*/


.addtag{
	margin-top: 1px;
	height: 35px;
	}
	
	.layui-table tbody tr{
		height: 100%;
		max-width: 100%;
	}
	.layui-table-cell {
            height: 100%;
            max-width: 100%;
        }
.layui-table-cell .layui-form-checkbox[lay-skin="primary"]{
     /* top: 50%;
     transform: translateY(-50%); */
		 /* height: 100%;
		 max-width: 100%; */
}

.classifyform .classifyimg{
	width: 200px;
	height: 70px;
}

.layui-form-pane .articlebtn{
	margin-right: 0px;
	padding: 0px;
}