<!DOCTYPE html>
<html lang="en">
	<head>
		<title>浅行博客首页</title>
		<!-- custom-theme -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="" />
		<!-- //custom-theme -->
		<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
		<!-- js -->
		<script type="text/javascript" src="../static/js/jquery-2.1.4.min.js"></script>
		<!-- //js -->
		<!-- font-awesome-icons -->
		<link href="../admin/vendor/font-awesome/css/font-awesome.css" rel="stylesheet">
		<!-- //font-awesome-icons -->
		<link href="http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two&amp;subset=latin-ext" rel="stylesheet">
		<link href="http://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
		<link href="css/stylelht.css" rel="stylesheet" type="text/css" media="all" />
		<script type="text/javascript" src="../static/js/vue.js"></script>
		<script type="text/javascript" src="../static/js/vue-resource.min.js"></script>
	</head>

	<body>
		<div id="app">
		<!-- banner -->
		<div class="banner1">
			<div class="container navdiv">
				<nav class="navbar navbar-default">
					<div class="navbar-header navbar-left">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<h1><a class="navbar-brand" href="index.html">WORK <span>BLOG </span></a></h1>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
						<nav>
							<ul class="nav navbar-nav link-effect-14" id="link-effect-14">
								<li class="active"><a href="services.html"><span>首页</span></a></li>
								<li><a href="gallery.html"><span>分类</span></a></li>
								<li><a href="friend.html"><span>友链</span></a></li>
								<li><a href="about.html"><span>关于</span></a></li>
							</ul>
							<div class="agileinfo_social_icons">
								<ul class="agileits_social_list">
									<li>
										<input type="text" class="form-control" placeholder="搜索...">
									</li>
									<li><span class="input-group-btn1">
											<button class="btn btn-default btn2" type="button">搜索</button>
										</span>
									</li>
									<li v-show="!role"><a href="login.html" class="w3_agile_facebook"><i class="fa fa-user-o" aria-hidden="true">登录</i></a></li>
									<li v-show="!role"><a href="register.html" class="agile_twitter"><i class="fa fa-sign-in" aria-hidden="true">注册</i></a></li>
									<li v-show="role"><a href="../admin/index.html" class="w3_agile_facebook"><i class="fa fa-user-o" aria-hidden="true">{{user.username}}</i></a></li>
									<li v-show="role"><a href="/workblog/user/logout" class="agile_twitter"><i class="fa fa-sign-in" aria-hidden="true">退出</i></a></li>
								</ul>
							</div>
						</nav>
					</div>
				</nav>
			</div>
		</div>
		<!-- //banner -->

		<!-- main -->
		<div class="banner-bottom">
			<div class="container navdiv">
				<div>
					<div class="agileits_heading_section">
						<label class="wel"></label>
						<h2 class="w3ls_head">最新</h2>
					</div>
					<div class="w3ls_banner_bottom_grids">
						<div v-for="item in newlist" :key="item.articleid" class="col-md-4 agileits_services_grid lht1">
							<h3>{{item.title}}</h3>
							<p class="p1">{{item.summary}}</p>
							<div class="w3_agile_services_grid1">
								<img :src="item.img" alt=" " class="img-responsive" />
								<div class="w3_blur"></div>
							</div>
							<div class="w3layouts_more">
								<a :href="'article.html?articleid='+item.articleid">文章详情<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
				</div>
				<!-- //services -->
				<!-- offer -->
				<div class="offer">
					<div class="container lht3">
						<div class="agileits_heading_section">
							<label class="wel"></label>
							<h3 class="w3ls_head">最热</h3>
						</div>
						<div class="w3ls_banner_bottom_grids lht4">
							<div v-for="item in hotlist" :key="item.articleid" class="col-md-4 agile_offer_grid lht2">
								<a :href="'article.html?articleid='+item.articleid">
								<div class="agileits_w3layouts_offer_grid">
									<div class="agile_offer_grid_pos">
										<p>{{item.articleid}}</p>
									</div>
								</div>
								<div class="wthree_offer_grid1">
									<h4>{{item.title}}</h4>
									<p class="w3_agileits_service_para lht5">{{item.summary}}</p>
								</div>
								</a>
							</div>
						
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
			</div>
			<!-- //offer -->
			<!-- offer-bottom -->

			<div class="copy-right-grids" style="margin-top: 10px;">
				<div>
					<div class="copy-left">
						<p class="footer-gd">Copyright &copy; 2019.5 软件工程1601班 第二小组 李园祥 周金勇 戴同吉 钟珊珊 刘华涛 王小杰 浅行博客 模板来自 </p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!-- //footer-->
		</div>
		<!-- bootstrap-pop-up -->
		<!-- for bootstrap working -->
		<script src="../static/js/bootstrap.min.js"></script>
		<!-- //for bootstrap working -->
		<!-- start-smoth-scrolling -->
		<script type="text/javascript" src="js/move-top.js"></script>
		<script type="text/javascript" src="js/easing.js"></script>
		<!-- 滚回顶部 -->
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event) {
					event.preventDefault();
					$('html,body').animate({
						scrollTop: $(this.hash).offset().top
					}, 1000);

				});
			});
		</script>
		<!-- start-smoth-scrolling -->
		<!-- here stars scrolling icon -->
		<script type="text/javascript">
			$(document).ready(function() {
				/*
					var defaults = {
					containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear' 
					};
				*/

				$().UItoTop({
					easingType: 'easeOutQuart'
				});

			});
		</script>
		<!-- //here ends scrolling icon -->
		<!-- vue.js -->
		<script type="text/javascript">
			var vm1 = new Vue({
				el: '#app',
				data: {
					username:'',
					role: '',
					user:{},
					newlist: [1,2,3],
					hotlist: [1,2,3],
				},
				created() {
					this.chooserole();
					this.getNew();
					this.getHot();
				},
				methods: {
					chooserole() {
						
						//判断用户的角色	
						this.$http.get('/workblog/user/getme').then(result => {
							var result = result.body;
							if(result.user !==null){
								this.user = result.user;
								this.role = true;	
							}
						});
					},
					getNew() {
						//判断用户的角色	
						this.$http.get('/workblog/article/getnew?index=1&length=9').then(result => {
							var result = result.body;
							this.newlist=result.data.list;
							
						});
					},
					getHot() {
						//判断用户的角色	
						this.$http.get('/workblog/article/gethot?index=1&length=9').then(result => {
							var result = result.body;
							// alert(result);
							this.hotlist=result.data.list;
							
						});
					},
					changeActive(a) {
						var myInfoActive = $("#myInfoActive");
						//					alert(myInfoActive)
						var changeImgActive = $("#changeImgActive");
						var myInfo = $("#myInfo"); //基本资料内容
						var changeImg = $("#changeImg"); //内容
						//					var a = $("#myInfoActive").hasClass('active');//切换功能
						if (a) {
							//显示修改头像
							myInfoActive.removeClass('active'); //基本资料
							changeImgActive.addClass('active');
							myInfo.removeClass('active');
							changeImg.addClass('active');

						} else {
							//显示基本资料
							myInfoActive.addClass('active');
							changeImgActive.removeClass('active'); //基本资料
							myInfo.addClass('active');
							changeImg.removeClass('active');
						}

					},
					getUserList() { /*http://localhost:8080/WMPX/user/showIndustry*/
						var t = this.getCookie("token");
						this.$http.get('/wmpx/user/token/' + t).then(result => {
							var result = result.body;
							if (result.status === 200) {
								this.list1 = result.data;
								console.log(this.list1);
							} else {
								alert("数据连接失败");
							}
						});
					},
					getRequest() {
						var url = location.search; //获取url中"?"符后的字串
						var theRequest = new Object();
						if (url.indexOf("?") != -1) {
							var strs = url.substr(1);
							this.id = strs.split("=")[1];
						}
						return theRequest;
					},
				}
			});
		</script>
	</body>
</html>
