<!doctype html>
<html lang="en">

	<head>
		<title>WokeBlog-我的评论</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<!-- VENDOR CSS -->
		<link rel="stylesheet" type="text/css" href="vendor/layui/css/layui.css" />
		<script type="text/javascript" src="vendor/layui/layui.js"></script>
		<link rel="stylesheet" href="../static/css/bootstrap.min.css">
		<link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="vendor/linearicons/style.css">
		<link rel="stylesheet" href="vendor/chartist/css/chartist-custom.css">
		<!-- MAIN CSS -->
		<link rel="stylesheet" href="css/main.css">
		<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
		<link rel="stylesheet" href="css/demo.css">
		<!-- GOOGLE FONTS -->
		<link href="css/googleapisfamily.css" rel="stylesheet">
		<!-- ICONS -->
		<link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon.png">
		<link rel="icon" type="image/png" sizes="96x96" href="img/favicon.png">
		<link href="css/toastr.min.css" rel="stylesheet" type="text/css" media="all" />
		<link rel="stylesheet" href="css/index.css">
		<script type="text/javascript" src="../static/js/vue.js"></script>
		<script type="text/javascript" src="../static/js/vue-resource.min.js"></script>

	</head>

	<body>
		<!-- WRAPPER -->
		<div id="wrapper">
			<!-- NAVBAR -->
			<nav class="navbar navbar-default navbar-fixed-top navclass">
				<div class="navbar-btn">
					<h1><a class="navbar-brand" href="index.html">Work <span>Blog </span></a></h1>
				</div>
				<div class="container-fluid">
					<div class="navbar-btn arrowButton">
						<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
					</div>
					<form class="navbar-form navbar-left">
						<div class="input-group">
							<input type="text" value="" class="form-control" placeholder="Search dashboard...">
							<span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
						</div>
					</form>
					<!-- <div class="navbar-btn navbar-btn-right">
				<a class="btn btn-success update-pro" href="#downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
			</div> -->
					<div id="navbar-menu">
						<ul class="nav navbar-nav navbar-right">
							<!-- <li class="dropdown">
							<a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
								<i class="lnr lnr-alarm"></i>
								<span class="badge bg-danger">5</span>
							</a>
							<ul class="dropdown-menu notifications">
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System space is almost full</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9 unfinished tasks</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Monthly report is available</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Weekly meeting in 1 hour</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Your request has been approved</a></li>
								<li><a href="#" class="more">See all notifications</a></li>
							</ul>
						</li> -->
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span class="spanclass">帮助</span>
									<i class="icon-submenu lnr lnr-chevron-down"></i></a>
								<ul class="dropdown-menu">
									<li><a href="../user/about.html">关于</a></li>
									<li><a href="../user/friend.html">友链</a></li>
									<!-- <li><a href="#">Security</a></li>
										<li><a href="#">Troubleshooting</a></li> -->
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="img/user.png" class="img-circle" alt="Avatar">
									<span class="spanclass">{{user.username}}</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
								<ul class="dropdown-menu">
									<li><a href="/workblog/user/logout"><i class="lnr lnr-exit"></i> <span>退出登录</span></a></li>
								</ul>
							</li>
							<!-- <li>
						<a class="update-pro" href="#downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
					</li> -->
						</ul>
					</div>
				</div>
			</nav>

			<!-- END NAVBAR -->
			<!-- LEFT SIDEBAR -->
			<div id="sidebar-nav" class="sidebar sidebarclass">
				<div class="sidebar-scroll">
					<nav>
						<ul class="nav">
							<li>
								<a href="#subPages" data-toggle="collapse" class=""><i class="lnr lnr-user"></i> <span>个人</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
								<div id="subPages" class="collapse">
									<ul class="nav">
										<li><a href="profile.html" class="">修改个人信息</a></li>
										<li><a href="modifypassword.html" class="">修改密码</a></li>
									</ul>
								</div>
							</li>
							<li><a href="createarticle.html" class=""><i class="lnr lnr-file-add"></i> <span>发布文章</span></a></li>
							<li><a href="index.html" class=""><i class="lnr lnr-book"></i> <span>我的文章</span></a></li>
							<li><a href="mycommentindex.html" class="active"><i class="lnr lnr-keyboard"></i> <span>我的评论</span></a></li>


							<li v-show="role" class="lineheight"></li>
							<li v-show="role"><a href="useradmin.html" class=""><i class="lnr lnr-users"></i> <span>用户管理</span></a></li>
							<li v-show="role"><a href="adminindex.html" class=""><i class="lnr lnr-map"></i> <span>文章管理</span></a></li>
							<li v-show="role"><a href="firstcommentadmin.html" class=""><i class="lnr lnr-keyboard"></i> <span>一级评论管理</span></a></li>
							<li v-show="role"><a href="secondcommentadmin.html" class=""><i class="lnr lnr-keyboard"></i> <span>二级评论管理</span></a></li>
							<li v-show="role"><a href="classifyadmin.html" class=""><i class="lnr lnr-dice"></i> <span>分类管理</span></a></li>
							<li v-show="role"><a href="tagadmin.html" class=""><i class="lnr lnr-tag"></i> <span>标签管理</span></a></li>
							<li v-show="role"><a href="linkadmin.html" class=""><i class="lnr lnr-paperclip"></i> <span>友链管理</span></a></li>
							<li v-show="role"><a href="logadmin.html" class=""><i class="lnr lnr-layers"></i> <span>查看日志</span></a></li>


						</ul>
					</nav>
				</div>
			</div>
			<!-- END LEFT SIDEBAR -->
			<!-- MAIN -->
			<div class="main">
				<div class="commentdiv">
					<div class="tdiv">
						<div class="panel-heading">
							<h3 class="panel-title">{{title}}</h3>
							<!-- <img src="img/user.png" alt="" style="width: 20px;height: 20px;border-radius: 50%;"> -->

						</div>
						<div class="titlediv">

							<div v-for="item in list1" :key="item.comment_one_id" class="panel panel-default comment">
								<div class="panel-heading firstcommentdiv">
									<h4 class="panel-title">
										<div class="touxiang">
											<img :src="item.pic" alt="">
											<span>{{item.username}}</span>
										</div>

										<p>
											{{item.content}}
										</p>
										<div class="btndiv" style="float: right;">
											<button class="btn btn-danger lnr lnr-trash commentdelbtn" :onclick="delone(item.comment_one_id)">&nbsp;删除</button><br>
											<button :onclick="getsecondList(item.comment_one_id)" class="btn btn-success lnr lnr-eye commentreadbtn"
											 data-toggle="collapse" data-parent="#accordion" :href="'#'+item.comment_one_id" style="display: inline-block;">&nbsp;查看</button>
										</div>
									</h4>
								</div>
								<div :id="item.comment_one_id" class="panel-collapse collapse secondcommentdiv">
									<div class="panel-body">
										<div v-for="item in list2" :key="item.comment_two_id" class="panel panel-default secondcommentfirstdiv">
											<div class="panel-heading secondfirstcommentdiv">
												<h4 class="panel-title">
													<div class="touxiang">
														<img :src="item.pic" alt="">
														<span>{{item.usernametwo}}</span>
													</div>
													<p>
														{{item.contenttwo}}
													</p>
													<div class="btndiv" style="float: right;">
														<button class="btn btn-danger lnr lnr-trash commentdelbtn" :onclick="deltwo(item.comment_one_id)">&nbsp;删除</button><br>
														<!-- <a class="btn btn-success lnr lnr-eye commentreadbtn" data-toggle="collapse" data-parent="#accordion"
														 href="#1" style="display: inline-block;">&nbsp;查看</a> -->
													</div>
												</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div id="titlediv" style="padding: 0 100px;"></div>
						</div>
					</div>
				</div>

			</div>
			<footer>
				<div class="container-fluid">
					<p class="copyright">Copyright &copy; 2019.5 软件工程1601班 第二小组 李园祥 周金勇 戴同吉 钟珊珊 刘华涛 王小杰 WOrkBlog <a href="http://www.cssmoban.com/"
						 target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>

				</div>
			</footer>
		</div>
		<!-- Javascript -->
		<script src="vendor/jquery/jquery.min.js"></script>
		<script src="../static/js/bootstrap.min.js"></script>
		<script src="vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
		<script src="vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
		<script src="vendor/chartist/js/chartist.min.js"></script>
		<script src="js/klorofil-common.js"></script>
		<script type="text/javascript" src="js/toastr.min.js"></script>
		<script type="text/javascript">
			$('.secondcommentdiv').on('show.bs.collapse', function() {
				// 执行一些动作...
				var el = event.target
				var id = el.getAttribute("href").split("#")[1];
				$.ajax({
					method:"get",
					url:"/workblog/commenttwo/getcommenttwobyoneall?oneid="+id,
					success:function(data){
						if (data.state === 1) {
							window.vm1.list2 = result.data;
						} else {
							toastr.error("数据连接失败");
						}
					},
					error:function(data){
						toastr.error(data.message);
					},
				});
				
			})
		</script>
		<script type="text/javascript">
			var vm1 = new Vue({
				el: '#wrapper',
				data: {
					id: '',
					title: '',
					user: {},
					role: false,
					list1: [],
					list2: [],
				},
				created() {
					this.chooserole();
					this.getfirstList();
				},
				methods: {
					chooserole() {
						//判断用户的角色
						this.$http.get('/workblog/user/getme').then(result => {
							var result = result.body;
							if (result.state != null || result.state === 1) {
								this.user = result.user;
								for (let i of result.roles) {
									if (i.roleid === 1) {
										this.role = true;
									}
								}
							}
						});
					},
					getfirstList() {
						this.$http.get('/workblog/commentone/getbyarticleall?index=1&length=10&articleid' + this.id).then(result => {
							var result = result.body;
							if (result.state === 1) {
								this.list1 = result.data;
								this.title = list1[0].title;
								console.log(this.list1);
							} else {
								toastr.error("数据连接失败");
							}
						});
					},
					getRequest() {
						var url = location.search; //获取url中"?"符后的字串
						var theRequest = new Object();
						if (url.indexOf("?") != -1) {
							var strs = url.substr(1);
							this.id = strs.split("=")[1];
						}
						return theRequest;
					},
					delone(id) {
						this.$http.post('/workblog/commenttwo/getcommenttwobyoneall?_method=delete&id' + id).then(result => {
							var result = result.body;
							if (result.state === 1) {
								toastr.success("删除成功");
							} else {
								toastr.error("删除失败");
							}
						});
					},
					deltwo(id) {
						this.$http.post('/workblog/commenttwo/delete?_method=delete&id' + id).then(result => {
							var result = result.body;
							if (result.state === 1) {
								toastr.success("删除成功");
							} else {
								toastr.error("删除失败");
							}
						});
					}
				}
			});
		</script>

		<script src="vendor/layui/layui.js"></script>
		<script>
			id = '';
			window.onload = function() {
					var url = location.search; //获取url中"?"符后的字串
					var theRequest = new Object();
					if (url.indexOf("?") != -1) {
						var strs = url.substr(1);
						id = strs.split("=")[1];
					}
					return theRequest;
				},

				layui.use('laypage', function() {
					var laypage = layui.laypage;

					//执行一个laypage实例
					laypage.render({
						elem: 'titlediv' //注意，这里的 test1 是 ID，不用加 # 号
							,
						count: 1700 //数据总数，从服务端得到
							,
						jump: function(obj, first) {
							//obj包含了当前分页的所有参数，比如：
							$.ajax({
								method: "get",
								url: "/workblog/commentone/getbyarticleall",
								data: {
									"articleid": id,
									"index": obj.curr,
									"length": obj.limit
								},
								success: function(data) {
									alert("jll");
									console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
									console.log(obj.limit); //得到每页显示的条数
								},
								error: function(data) {

								}
							});
							//首次不执行
							if (!first) {
								//do something
							}
						}
					});

				});
		</script>
	</body>

</html>
