<!doctype html>
<html lang="en">

	<head>
		<title>WorkBlog-个人信息</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<!-- VENDOR CSS -->
		<link rel="stylesheet" href="css/cropper.min.css">
		<link rel="stylesheet" href="../static/css/bootstrap.min.css">
		<link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="vendor/linearicons/style.css">
		<link rel="stylesheet" href="vendor/chartist/css/chartist-custom.css">
		<!-- MAIN CSS -->
		<link rel="stylesheet" href="css/main.css">
		<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
		<link rel="stylesheet" href="css/demo.css">
		<!-- GOOGLE FONTS -->
		<link href="css/googleapisfamily.css" rel="stylesheet">
		<!-- ICONS -->
		<link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon.png">
		<link rel="icon" type="image/png" sizes="96x96" href="img/favicon.png">
		
		<script type="text/javascript" src="../static/js/vue.js"></script>
		<script type="text/javascript" src="../static/js/vue-resource.min.js"></script>
		
		<link rel="stylesheet" href="css/sitelogo.css">
		<link href="css/toastr.min.css" rel="stylesheet" type="text/css" media="all" />
		<link rel="stylesheet" href="css/index.css">
	</head>

	<body>
		<!-- WRAPPER -->
		<div id="wrapper">
			<!-- NAVBAR -->
			<nav class="navbar navbar-default navbar-fixed-top navclass">
				<div class="navbar-btn">
					<h1><a class="navbar-brand" href="index.html">Work <span>Blog </span></a></h1>
				</div>
				<div class="container-fluid">
					<div class="navbar-btn arrowButton">
						<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
					</div>
					<form class="navbar-form navbar-left">
						<div class="input-group">
							<input type="text" value="" class="form-control" placeholder="Search dashboard...">
							<span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
						</div>
					</form>
					<div id="navbar-menu">
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span class="spanclass">帮助</span>
									<i class="icon-submenu lnr lnr-chevron-down"></i></a>
								<ul class="dropdown-menu">
									<li><a href="../user/about.html">关于</a></li>
									<li><a href="../user/friend.html">友链</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="img/user.png" class="img-circle" alt="Avatar">
									<span class="spanclass">{{username}}</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
								<ul class="dropdown-menu">
									<li><a href="/workblog/user/logout"><i class="lnr lnr-exit"></i> <span>退出登录</span></a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>

			<!-- END NAVBAR -->
			<!-- LEFT SIDEBAR -->
			<div id="sidebar-nav" class="sidebar sidebarclass">
				<div class="sidebar-scroll">
					<nav>
						<ul class="nav">
							<li>
								<a href="#subPages" data-toggle="collapse" class="active"><i class="lnr lnr-user"></i> <span>个人</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
								<div id="subPages" class="collapse in">
									<ul class="nav">
										<li><a href="profile.html" class="active">修改个人信息</a></li>
										<li><a href="modifypassword.html" class="">修改密码</a></li>
									</ul>
								</div>
							</li>
							<li><a href="createarticle.html" class=""><i class="lnr lnr-file-add"></i> <span>发布文章</span></a></li>
							<li><a href="index.html" class=""><i class="lnr lnr-book"></i> <span>我的文章</span></a></li>
							<li><a href="mycommentindex.html" class=""><i class="lnr lnr-keyboard"></i> <span>我的评论</span></a></li>


							<li v-show="role" class="lineheight"></li>
							<li v-show="role"><a href="useradmin.html" class=""><i class="lnr lnr-users"></i> <span>用户管理</span></a></li>
							<li v-show="role"><a href="adminindex.html" class=""><i class="lnr lnr-map"></i> <span>文章管理</span></a></li>
							<li v-show="role"><a href="firstcommentadmin.html" class=""><i class="lnr lnr-keyboard"></i> <span>一级评论管理</span></a></li>
							<li v-show="role"><a href="secondcommentadmin.html" class=""><i class="lnr lnr-keyboard"></i> <span>二级评论管理</span></a></li>
							<li v-show="role"><a href="classifyadmin.html" class=""><i class="lnr lnr-dice"></i> <span>分类管理</span></a></li>
							<li v-show="role"><a href="tagadmin.html" class=""><i class="lnr lnr-tag"></i> <span>标签管理</span></a></li>
							<li v-show="role"><a href="linkadmin.html" class=""><i class="lnr lnr-paperclip"></i> <span>友链管理</span></a></li>
							<li v-show="role"><a href="logadmin.html" class=""><i class="lnr lnr-layers"></i> <span>查看日志</span></a></li>


						</ul>
					</nav>
				</div>
			</div>
			<!-- END LEFT SIDEBAR -->
			<!-- MAIN -->
			<div class="main">
				<!-- MAIN CONTENT -->
				<div class="main-content profilediv">
					<div class="">
						<!-- PROFILE HEADER -->
						<div class="profile-header profileleft">
							<div class="overlay"></div>
							<div class="profile-main">
								<div class="profileimgdiv">
									<img :src="user.pic" class="img-circle profileimg" alt="" id="icon" />
								</div><!-- :src="list1.userPicture" -->
								<h3 class="name">{{username}}</h3>
								<!-- <span class="status-available">边走边唱，如诗如歌如理想</span> -->
							</div>
							<div class="profile-stat">
								<div class="row">
									<!-- <div class="col-md-4 stat-item">
										45 <span>文章数量</span>
									</div>
									<div class="col-md-4 stat-item">
										15 <span>评论数量</span>
									</div> -->
									<div class="col-md-12 stat-item">
										<span class="userage">使用年限：</span>{{year}}
									</div>
								</div>
							</div>
						</div>

						<!-- END PROFILE HEADER -->
						<!-- PROFILE DETAIL -->
						<div class="profile-detail profileright">
							<div class="profileinfo">
								<form class="form-horizontal profileForm">
									<div class="form-group formgroupdiv">
										<label for="username">用户名</label>
										<input type="text" class="form-control" id="username" placeholder="Samuel Gold" v-model="username">
									</div>

									<div class="form-group formgroupdiv">
										<label class="control-label">邮箱</label>
										<div class="">
											<input type="text" class="form-control" id="email" placeholder="请输入你的邮箱地址~" v-model="email">
										</div>
									</div>
									<div class="form-group formgroupdiv">
										<label class="control-label">手机号码</label>
										<div class="">
											<input type="text" class="form-control" id="phone" placeholder="请输入你的电话号码~" v-model="phone">
										</div>
									</div>
									<div class="form-group formgroupdiv">
										<label class="control-label">个性签名</label>
										<div class="">
											<input type="text" class="form-control" id="autograph" placeholder="请输入你的个签~" v-model="autograph">
										</div>
									</div>
									<!-- <div class="form-group formgroupdiv">
										<label for="inputPassword" class="control-label">Password</label>
										<div class="">
											<input type="password" class="form-control" id="inputPassword" placeholder="请输入你的密码~">
										</div>
									</div> -->

									<div class="text-center profilesubmit"><button :onclick="modify()" class="btn btn-primary">确认修改</button></div>
								</form>
								<button class="btn btn-primary btn-group-lg upfile" data-toggle="modal" data-target="#avatar-modal">上传图片</button>

							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>

				<!-- 模态框（Modal） -->
				<!--图片裁剪-->
				<div>
					<div class="modal fade" id="avatar-modal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog"
					 tabindex="-1">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<!--<form class="avatar-form" action="upload-logo.php" enctype="multipart/form-data" method="post">-->
								<form class="avatar-form">
									<div class="modal-header">
										<button class="close" data-dismiss="modal" type="button">×</button>
										<h4 class="modal-title" id="avatar-modal-label">上传图片</h4>
									</div>
									<div class="modal-body">
										<div class="avatar-body">
											<div class="avatar-upload">
												<input class="avatar-src" name="avatar_src" type="hidden">
												<input class="avatar-data" name="avatar_data" type="hidden">
												<label for="avatarInput" style="line-height: 35px;">图片上传</label>
												<button class="btn btn-info" type="button" style="height: 35px;" onclick="$('input[id=avatarInput]').click();">请选择图片</button>
												<span id="avatar-name"></span>
												<input class="avatar-input hide" id="avatarInput" name="avatar_file" type="file"></div>
											<div class="row">
												<div class="col-md-9">
													<div class="avatar-wrapper"></div>
												</div>
												<div class="col-md-3">
													<div class="avatar-preview preview-lg" id="imageHead"></div>
												</div>
											</div>
											<div class="row avatar-btns">
												<div class="col-md-4">
													<div class="btn-group">
														<button class="btn btn-info fa fa-undo" data-method="rotate" data-option="-90" type="button" title="Rotate -90 degrees">
															向左旋转</button>
													</div>
													<div class="btn-group">
														<button class="btn  btn-info fa fa-repeat" data-method="rotate" data-option="90" type="button" title="Rotate 90 degrees">
															向右旋转</button>
													</div>
												</div>
												<div class="col-md-5" style="text-align: right;">
													<button class="btn btn-info fa fa-arrows" data-method="setDragMode" data-option="move" type="button" title="移动">
														<span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper('setDragMode', 'move')">
														</span>
													</button>
													<button type="button" class="btn btn-info fa fa-search-plus" data-method="zoom" data-option="0.1" title="放大图片">
														<span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper('zoom', 0.1)">
															<!--<span class="fa fa-search-plus"></span>-->
														</span>
													</button>
													<button type="button" class="btn btn-info fa fa-search-minus" data-method="zoom" data-option="-0.1" title="缩小图片">
														<span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper('zoom', -0.1)">
															<!--<span class="fa fa-search-minus"></span>-->
														</span>
													</button>
													<button type="button" class="btn btn-info fa fa-refresh" data-method="reset" title="重置图片">
														<span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper('reset')"
														 aria-describedby="tooltip866214"></span>
													</button>
												</div>
												<div class="col-md-3">
													<button :onclick="changePic()"  class="btn btn-info btn-block avatar-save fa fa-save" type="button" data-dismiss="modal">
														保存修改</button>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- /.modal -->



			</div>
			<footer>
				<div class="container-fluid">
					<p class="copyright">Copyright &copy; 2019.5 软件工程1601班 第二小组 李园祥 周金勇 戴同吉 钟珊珊 刘华涛 王小杰 WOrkBlog <a href="http://www.cssmoban.com/"
						 target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>

				</div>
			</footer>
		</div>
		<!-- END WRAPPER -->
		<!-- Javascript -->
		<script src="vendor/jquery/jquery.min.js"></script>
		<script src="vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
		<script src="vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
		<script src="../static/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/toastr.min.js"></script>
		<script src="vendor/chartist/js/chartist.min.js"></script>
		<script src="js/klorofil-common.js"></script>
		<script src="js/cropper.js"></script>
		<script src="js/html2canvas.min.js"></script>
		<script src="js/sitelogo2.js"></script>
		<script type="text/javascript">
			var vm1 = new Vue({
				el: '#wrapper',
				data: {
					role: true,
					user: {},
					username: '',
					email: '',
					phone: '',
					autograph: '',
					year: '',
				},
				created() {
					this.chooserole();
					// this.getUserList();
				},
				methods: {
					chooserole() {
						//判断用户的角色
						this.$http.get('/workblog/user/getme').then(result => {
							var result = result.body;
							if (result.state != null || result.state === 1) {
								this.user = result.user;
								this.usesrname = result.user.username;
								this.email = result.user.email;
								this.phone = result.user.phone;
								this.autograph = result.user.autograph;
								var now = (new Date()).getYear();
								var pass = (new Date(user.createdate)).getYear();
								this.year = now - pass;
								for (let i of result.roles) {
									if (i.roleid === 1) {
										this.role = true;
									}
								}
							}

						});
					},
					modify() {
						alert("testmodify");
						this.$http.post('/workblog/user/update?_method=put&userid='+this.user.userid+'&username='+this.username+'&email='+this.email+'&phone='+this.phone+'&autograph='+this.autograph+'&pic='+this.pic).then(result => {
							var result = result.body;
							if (result.state != null || result.state === 1) {
								toastr.success("更新成功");
							}else{
								toastr.error("更新失败");
							}
						});
					},
					changePic(){
						var pic =$('#icon').attr("src");
						this.$http.get('/workblog/user/upadte?&pic='+pic).then(result => {
							var result = result.body;
							if (result.state != null || result.state === 1) {
								toastr.success("上传成功");
							}else{
								toastr.error("上传失败");
							}
						});
					}
				}
			});
		</script>
		<script type="text/javascript">
			//做个下简易的验证  大小 格式
			$('#avatarInput').on('change', function(e) {
				var filemaxsize = 1024 * 5; //5M
				var target = $(e.target);
				var Size = target[0].files[0].size / 1024;
				if (Size > filemaxsize) {
					alert('图片过大，请重新选择!');
					$(".avatar-wrapper").childre().remove;
					return false;
				}
				if (!this.files[0].type.match(/image.*/)) {
					alert('请选择正确的图片!')
				} else {
					var filename = document.querySelector("#avatar-name");
					var texts = document.querySelector("#avatarInput").value;
					var teststr = texts; //你这里的路径写错了
					testend = teststr.match(/[^\\]+\.[^\(]+/i); //直接完整文件名的
					filename.innerHTML = testend;
				}

			});
			//#icon元素的src就是截图后的文件,base64
			$(".avatar-save").on("click", function() {
				var img_lg = document.getElementById('imageHead');

				// 截图小的显示框内的内容
				html2canvas(img_lg, {
					allowTaint: true,
					taintTest: false,
					onrendered: function(canvas) {
						// var dataURL = $image.cropper("getCroppedCanvas");//这个可以获得大图
						// var imgurl = dataURL.toDataURL("image/*", 1);
						// $('#icon').attr('src', imgurl);
						canvas.id = "mycanvas";
						var dataUrl = canvas.toDataURL("image/png"); //这个可以获得压缩图片,适合作为头像
						$('#icon').attr('src', dataUrl);

					}
				});
			});

			function imagesAjax(src) {
				var data = {};
				data.img = src;
				$.ajax({
					url: "../file/upload.do",
					data: data,
					type: "POST",
					dataType: 'json',
					success: function(data) {
						if (data.state == 1) {
							$('#icon').attr('src', data.data);
							$('#iconPic').val(data.data);
						}
						toastr.info(data.message);
					}
				});
			}
		</script>

	</body>

</html>
