<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunshareteam.workblog.dao.ArticleMapper">
	<select id="findById" resultType="com.sunshareteam.workblog.entity.Article">
		select articleid,createdate,author,modifydate,img,content,commentnum,categoty,title,contentformat from tb_article where state=0 and articleid=#{id}
	</select>
	
	<update id="updateArticle" parameterType="com.sunshareteam.workblog.entity.Article">
		update tb_article 
			<set>
				<if test="modifydate!=null">modifydate=#{modifydate},</if>
				<if test="modifyuser!=null">modifyuser=#{modifyuser},</if>
				<if test="img!=null">img=#{img},</if>
				<if test="content!=null">content=#{content},</if>
				<if test="commentnum!=null">commentnum=#{commentnum},</if>
				<if test="categoty!=null">categoty=#{categoty},</if>
				<if test="title!=null">title=#{title},</if>
				<if test="summary!=null">summary=#{summary}</if>
				<if test="state!=null">state=#{state}</if>
				<if test="contentformat!=null">contentformat=#{contentformat}</if>
			</set>
			where articleid=#{articleid}
	</update>
	
	<delete id="deleteArticle">
		delete from tb_article where articleid=#{id}
	</delete>
	
	<delete id="deleteCommentOne">
		delete from tb_comment_one where articleid=#{articleid}
	</delete>
	
	<delete id="deleteCommentTwo">
		delete from tb_comment_two where oneid in (select comment_one_id from tb_comment_one where articleid=#{articleid})
	</delete>
	
	<delete id="deleteTag">
		delete from tb_article_tag where articleid = #{articleid}
	</delete>
	
	<insert id="insertArticle" parameterType="com.sunshareteam.workblog.entity.Article" useGeneratedKeys="true" keyProperty="articleid">
			insert into tb_article(createdate,img,content,author,commentnum,categoty,title,summary,state)
				values(#{createdate},#{img},#{content},#{author},#{commentnum},#{categoty},#{title},#{summary},0)
	</insert>
	
	<select id="findByKey" resultType="com.sunshareteam.workblog.web.ArticleVO">
		select a.img as img ,a.articleid as articleid,a.createdate as createdate,a.author as authorid,a.title as title,a.summary as summary,u.username as authorname,a.categoty as categotyid,c.categotytitle as categotyname
			from tb_article a,tb_user u,tb_categoty c where a.state=0 and a.author=u.userid and c.categotyid=a.categoty and title like #{title}
	</select>

	
	<select id="findHot" resultType="com.sunshareteam.workblog.web.ArticleVO">
		select a.img as img ,a.articleid as articleid,a.createdate as createdate,a.author as authorid,a.title as title,a.summary as summary,u.username as authorname,a.categoty as categotyid,c.categotytitle as categotyname
			from tb_article a,tb_user u,tb_categoty c where a.state=0 and a.author=u.userid and c.categotyid=a.categoty  order by a.commentnum desc
	</select>
	
	<select id="findNew" resultType="com.sunshareteam.workblog.web.ArticleVO">
		select a.img as img ,a.articleid as articleid,a.createdate as createdate,a.author as authorid,a.title as title,a.summary as summary,u.username as authorname,a.categoty as categotyid,c.categotytitle as categotyname
			from tb_article a,tb_user u,tb_categoty c where a.state=0 and a.author=u.userid and c.categotyid=a.categoty order by a.createdate desc
	</select>
	
	<select id="findByCategoty" resultType="com.sunshareteam.workblog.web.ArticleVO">
		select a.img as img ,a.articleid as articleid,a.createdate as createdate,a.author as authorid,a.title as title,a.summary as summary,u.username as authorname,a.categoty as categotyid,c.categotytitle as categotyname
			from tb_article a,tb_user u,tb_categoty c where a.state=0 and a.author=u.userid and c.categotyid=a.categoty and a.categoty=#{categotyid}
	</select>
	
	<select id="findByTag" resultType="com.sunshareteam.workblog.web.ArticleVO">
		select a.img as img ,a.articleid as articleid,a.createdate as createdate,a.author as authorid,a.title as title,a.summary as summary,u.username as authorname,a.categoty as categotyid,c.categotytitle as categotyname
			from tb_article a,tb_user u,tb_categoty c, tb_article_tag ag where a.state=0 and ag.tagid=#{tagid} and ag.articleid=a.articleid and a.author=u.userid and c.categotyid=a.categoty
	</select>
	
	<select id="findByAuthor" resultType="com.sunshareteam.workblog.web.ArticleVO">
		select a.img as img ,a.articleid as articleid,a.createdate as createdate,a.author as authorid,a.title as title,a.summary as summary,u.username as authorname,a.categoty as categotyid,c.categotytitle as categotyname
			from tb_article a,tb_user u,tb_categoty c where a.state=0 and a.author=u.userid and c.categotyid=a.categoty  and a.author=#{authorid}
	</select>
	
	<select id="findByKeyAll" resultType="com.sunshareteam.workblog.web.ArticleVO">
		select a.img as img ,a.articleid as articleid,a.createdate as createdate,a.author as authorid,a.title as title,a.summary as summary,u.username as authorname,a.categoty as categotyid,c.categotytitle as categotyname
			from tb_article a,tb_user u,tb_categoty c where a.author=u.userid and c.categotyid=a.categoty and a.title like #{title}
	</select>
	
	<select id="findByAuthorAll" resultType="com.sunshareteam.workblog.web.ArticleVO">
		select a.img as img ,a.articleid as articleid,a.createdate as createdate,a.author as authorid,a.title as title,a.summary as summary,u.username as authorname,a.categoty as categotyid,c.categotytitle as categotyname
			from tb_article a,tb_user u,tb_categoty c where a.author=u.userid and c.categotyid=a.categoty and a.author=#{authorid}
	</select>
	<delete id="deleteArtilceTag" parameterType="com.sunshareteam.workblog.entity.ArticleTag">
		delete from tb_article_tag where articleid=#{articleid} and tagid=#{tagid}
	</delete>
	<insert id="insertArticleTag" parameterType="com.sunshareteam.workblog.entity.ArticleTag">
		insert into tb_article_tag(articleid,tagid) values(#{articleid},#{tagid})
	</insert>
	<select id="findTagByName" resultType="com.sunshareteam.workblog.entity.Tag">
		select tagid from tb_tag where tagtitle=#{name}
	</select>
	<insert id="insertTag" parameterType="com.sunshareteam.workblog.entity.Tag" useGeneratedKeys="true" keyProperty="tagid">
		insert into tb_tag(createdate,tagtitle) values(#{createdate},#{tagtitle})
	</insert>
	
</mapper>  