<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunshareteam.workblog.dao.CategotyMapper">
    <select id="findCategotyId" resultType="com.sunshareteam.workblog.entity.Categoty">
		select categotyid,createdate,modifydate,modifyuser,categotytitle,categotydetail,img from tb_categoty where categotyid=#{categotyid}
	</select>
	<insert id="addCategoty">
	    insert into tb_categoty(createdate,modifydate,modifyuser,categotytitle,categotydetail,img)
	    values(#{createdate},#{modifydate},#{modifyuser},#{categotytitle},#{categotydetail},#{img})
	</insert>
	<update id="updateCategoty">
	    update tb_categoty
	    <set>
	       <if test="createdate!=null">createdate=#{createdate},</if>
	       <if test="modifydate!=null">modifydate=#{modifydate},</if>
	       <if test="modifyuser!=null">modifyuser=#{modifyuser},</if>
	       <if test="categotytitle!=null">categotytitle=#{categotytitle},</if>
	       <if test="categotydetail!=null">categotydetail=#{categotydetail},</if>
	       <if test="img!=null">img=#{img},</if>
	    </set>
	    where categotyid=#{categotyid}
	</update>
	<delete id="deleteCategoty">
	   delete from tb_categoty where categotyid=#{categotyid}
	</delete>
</mapper>