<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunshareteam.workblog.dao.CommentTwoMapper">
    <select id="findArticle" resultType="com.sunshareteam.workblog.entity.Commentnum">
		select commentnum,articleid from tb_article where articleid=#{articleid}
	</select>
	 <select id="findArticleId" resultType="com.sunshareteam.workblog.entity.CommentOne">
		select o.articleid from tb_comment_one o,tb_comment_two t where o.comment_one_id=t.oneid and t.oneid=#{oneid}
	</select>
	<select id="findById" resultType="com.sunshareteam.workblog.entity.CommentTwo">
		select comment_two_id,author,content,createuser,createdate,modifydate,modifyuser,oneid from tb_comment_two where comment_two_id=#{id}
	</select>	
	<select id="findAll" resultType="com.sunshareteam.workblog.web.CommentTwoVO">    
        select t.comment_two_id,u1.username usernameone,o.content contentone,u2.username usernametwo,t.content contentwo,t.createdate from tb_comment_two t,tb_comment_one o,tb_user u1,tb_user u2 where o.comment_one_id=t.oneid and u1.userid=o.createuser and u2.userid=t.createuser
       </select>
       <select id="findByKey" resultType="com.sunshareteam.workblog.entity.CommentTwo">
		select comment_two_id,author,content,createuser,createdate,modifydate,modifyuser,oneid from tb_comment_two where content like #{content}
	</select>
	<insert id="insertCommentTwo" parameterType="com.sunshareteam.workblog.entity.CommentTwo">
	    insert into tb_comment_two(author,content,createuser,createdate,modifydate,modifyuser,oneid)
	    values(#{author},#{content},#{createuser},#{createdate},#{modifydate},#{modifyuser},#{oneid})
	</insert>
	<delete id="deleteCommentTwo">
	   delete from tb_comment_two where comment_two_id=#{id}
	</delete>
	<select id="findByUser" resultType="com.sunshareteam.workblog.entity.User">
		select u.userid,u.username,u.pic from tb_comment_two t,tb_user u where t.createuser=u.userid and t.comment_two_id=#{id}
	</select>
	<select id="findByOneAll" resultType="com.sunshareteam.workblog.web.CommentTwoVO">
        select t.comment_two_id,u2.pic,u1.username usernameone,o.content contentone,u2.username usernametwo,t.content contenttwo,t.createdate from tb_comment_two t,tb_comment_one o,tb_user u1,tb_user u2 where o.comment_one_id=t.oneid and u1.userid=o.createuser and u2.userid=t.createuser and t.oneid=#{oneid}
	</select>	
</mapper> 