<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunshareteam.workblog.dao.TagMapper">
    <select id="findTagId" resultType="com.sunshareteam.workblog.entity.Tag">
		select tagid,createuser,createdate,modifydate,modifyuser,tagtitle from tb_tag where tagid=#{tagid}
	</select>
	<insert id="addTag">
	    insert into tb_tag(createuser,createdate,modifydate,modifyuser,tagtitle)
	    values(#{createuser},#{createdate},#{modifydate},#{modifyuser},#{tagtitle})
	</insert>
	<update id="updateTag">
	    update tb_tag
	    <set>
	       <if test="createuser!=null">createuser=#{createuser},</if>
	       <if test="createdate!=null">createdate=#{createdate},</if>
	       <if test="createuser!=null">modifydate=#{modifydate},</if>
	       <if test="createuser!=null">modifyuser=#{modifyuser},</if>
	       <if test="createuser!=null">tagtitle=#{tagtitle},</if>
	    </set>
	    where tagid=#{tagid}
	</update>
	<delete id="deleteTag">
	   delete tb_tag where tagid=#{tagid}
	</delete>
</mapper>