<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunshareteam.workblog.dao.TagMapper">
    <select id="findById" resultType="com.sunshareteam.workblog.entity.Tag">
		select tagid,createuser,createdate,modifydate,modifyuser,tagtitle from tb_tag where tagid=#{tagid}
	</select>
	<select id="findAll" resultType="com.sunshareteam.workblog.entity.Tag">    
         select tagid,createuser,createdate,modifydate,modifyuser,tagtitle from tb_tag   
       </select>
     <select id="findByKey" resultType="com.sunshareteam.workblog.entity.Tag">
		select tagid,createuser,createdate,modifydate,modifyuser,tagtitle from tb_tag where tagtitle like #{tagtitle}
	</select>
	<insert id="insertTag" parameterType="com.sunshareteam.workblog.entity.Tag">
	    insert into tb_tag(createuser,createdate,modifydate,modifyuser,tagtitle)
	    values(#{createuser},#{createdate},#{modifydate},#{modifyuser},#{tagtitle})
	</insert>
	<insert id="insertArticleTag" parameterType="com.sunshareteam.workblog.entity.ArticleTag">
	    insert into tb_article_tag(articleid,tagid)
	    values(#{articleid},#{tagid})
	</insert>
	<update id="updateTag" parameterType="com.sunshareteam.workblog.entity.Tag">
	    update tb_tag
	    <set>
	       <if test="createuser!=null">createuser=#{createuser},</if>
	       <if test="createdate!=null">createdate=#{createdate},</if>
	       <if test="modifydate!=null">modifydate=#{modifydate},</if>
	       <if test="modifyuser!=null">modifyuser=#{modifyuser},</if>
	       <if test="tagtitle!=null">tagtitle=#{tagtitle},</if>
	    </set>
	    where tagid=#{tagid}
	</update>
	<delete id="deleteTag">
	   delete from tb_tag where tagid=#{id}
	</delete>
	<delete id="deleteArticleTag">
	   delete from tb_article_tag where tagid=#{tagid}
	</delete>
	<select id="findByArticle" resultType="com.sunshareteam.workblog.entity.Tag">
		select t.tagid,t.tagtitle from tb_tag t,tb_article_tag a where a.articleid=#{articleid} and a.tagid=t.tagid
	</select>
</mapper>